DB_HOST=postgres
DB_PORT=5432
DB_NAME=medassist
DB_USER=medassist
DB_PASS=medassist123

LLM_PROVIDER=openai
OPENAI_API_KEY=sk-sua-chave-aqui
OPENAI_MODEL=gpt-4o-mini
OLLAMA_URL=http://ollama:11434
OLLAMA_MODEL=llama3

TTS_MODEL=piper
STT_MODEL=vosk
PIPER_VOICE=pt_BR-faber-medium
